.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #120f2a;

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 40px; 
      width: auto; 
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 30px;

    li a {
      color: white;
      font-weight: 500;
    }
  }

  .perfil {
    img {
      height: 40px;
      width: auto;
      border-radius: 50%;
    }
  }
}
