<section class="contact-section" id="contato">
  <h2>Entre em Contato</h2>
  
  <form class="contact-form" (ngSubmit)="enviarEmail()" #form="ngForm">
    <input type="text" placeholder="Seu Nome" [(ngModel)]="nome" name="nome" required />
    <input type="email" placeholder="Seu E-mail" [(ngModel)]="email" name="email" required />
    <textarea placeholder="Digite sua mensagem" [(ngModel)]="descricao" name="descricao" required></textarea>
    <button type="submit">Enviar Mensagem</button>
  </form>

  <div class="social-icons">
  <a href="https://github.com/cauarb" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://linkedin.com/in/cauã-ribeiro-7435651b7" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>
</div>

</section>
