<section class="home">
  <div class="intro">
    <p>Olá! Eu sou <span class="highlight">Cauã Ribeiro</span></p>
    <div class="profile">
      <img src="assets/imgs/perfil.png" alt="Minha Foto" />
    </div>
    <h1>
      Transformo ideias em soluções digitais eficientes, modernas e sob medida para o seu <span class="negrito">negócio...</span>
    </h1>
    <p class="desc">
      Se quiser algo com um tom mais informal ou técnico, posso adaptar! Deseja direcionar mais para front-end, back-end, sites institucionais ou sistemas complexos?
    </p>

    <h2>Sou Desenvolvedor de Software.</h2>
    <p class="facebook">
      Currently, I'm a Software Engineer at <a href="https://facebook.com" target="_blank">Facebook</a>.
    </p>
    <p class="bio">
      A self-taught UI/UX designer, functioning in the industry for 3+ years now.
      I make meaningful and delightful digital products that create an equilibrium
      between user needs and business goals.
    </p>
  </div>
</section>

