@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

body {
  background-color: #0f0c1a;
  font-family: 'Space Grotesk', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}
a {
  color: #5070f0;
  text-decoration: none;
}
